<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul class="topnav" id="myTopnav">
      <h1 class = 'siteName'>iVolunteer</h1>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Log In</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>

    {{{body}}}


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfN0K8eNPJk6ePAphBF1I3MnzDLTtBYOA"></script>
    <script src="/javascripts/javascript.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  </body>
  <footer>
    <p class='powered'>Powered by MEJC</p>
</html>
