{{! /login }}

<form class="volunteer_login_form" action="" method="post">
  <!--Add action route^-->
  <label for="username">Username:</label>
  <input type="text" name="username" value="username" placeholder="Username">
  <label for="password">Password:</label>
  <input type="text" name="password" value="password" placeholder="Password">
  <input type="submit" name="submit" value="Submit" />
</form>

<a href="#">Volunteer Register</a>
<!--Add register route^-->


<form class="company_login_form" action="" method="post">
  <!--Add action route^-->
  <label for="username">Username:</label>
  <input type="text" name="username" value="username" placeholder="Username">
  <label for="password">Password:</label>
  <input type="text" name="password" value="password" placeholder="Password">
  <input type="submit" name="submit" value="Submit" />
</form>

<a href="#">Company Register</a>
<!--Add register route^-->
