{{! /login }}

<form class="login_form" action="" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" value="username" placeholder="Username">
  <label for="password">Password:</label>
  <input type="text" name="password" value="password" placeholder="Password">
  <input type="submit" name="submit" value="Submit" />
</form>

<a href="#">Register</a>
