{{! / }}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href='/login'>Login</a>
<a href="/register">Register</a>
<a href='/event'>Click here to see all volunteers</a>
<a href='/organization'>Click here to see all organizations</a>



<!-- router.get('/volunteer', (req,res,next) => {
  res.render('volunteer/volunteer');
});

router.get('/organization', (req,res,next) => {
  res.render('organization/organization');
}); -->
