<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="log-in-title">Log In</h1>
      <div class="row">
        <div class="col-md-3 col-md-offset-2" id="home-button-left">
          <a href='/login/organization'><button type="button" class="btn btn-primary">Organization</button></a>
        </div>
        <div class="col-md-3 col-md-offset-2" id="home-button-right">
          <a href="/login/volunteer"><button type="button" class="btn btn-primary"> Volunteer</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
