{{! /organization/:id }}

<script>
  organization = {{{organization}}}
</script>

<h1>{{organizationRender.user_name}}</h1>
<p>Id is {{organizationRender.id}}</p>


<div id="map" style="height: 200px;"></div>
